numpy
pandas
matplotlib
seaborn
statsmodels
scikit-learn
pyodbc
sqlalchemy
pytorch-lightning
finbert-embedding
charset_normalizer
chardet
tokenizers
typing_extensions
torch
torchaudio
torchvision
tqdm
transformers==4.13.0
huggingface_hub
protobuf==3.20.0
tensorflow
ta==0.7.0
pandas_ta
mlflow
botbuilder
botbuilder-dialogs